.card-demo {
    border: 4px solid #F0F0F0;
}

.card-block {
    padding: 1rem;
}

.demo-label {
    color: #dadada;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}